{% extends 'base.html.twig' %}

{% block title %}Novo Endereço{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/forms.css') }}">
{% endblock %}

{% block body %}
    <h1>Novo Endereço</h1>

    {{ include('endereco/_form.html.twig') }}

    <div class="dv_button_back">
        <a href="{{ path('endereco_index') }}"><button class="button_back">Voltar para listagem</button></a>
    </div>
{% endblock %}
