{% extends 'base.html.twig' %}

{% block title %}Novo Contato{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/forms.css') }}">
{% endblock %}

{% block body %}
    <h1>Novo Contato</h1>

    {{ include('contato/_form.html.twig') }}
{% endblock %}
